@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helveticaneueblack-webfont.woff2") format("woff2"), url("/fonts/helveticaneueblack-webfont.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/futuracyrillicmedium-webfont.woff2") format("woff2"), url("/fonts/futuracyrillicmedium-webfont.woff") format("woff");
}

@font-face {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-orange: #ff5900;
  --color-orange-knaek: #fd7f3c;
  --color-baggrund: #f6f1ee;
  --color-hvid: #ffffff;
  --color-sort: #000000;
  --color-sort-knaek: #2b2b2b;

  /*Typografi */
  --font-display: "Helvetica", monospace;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Domine", serif;
  --font-body: "futura-pt", sans-serif;
}

@layer base {
  p {
    font-family: var(--font-body);
    font-size: 23px;
    line-height: 1.5;
    font-weight: 500;
  }
  h1 {
    font-family: var(--font-display);
    font-size: 128px;
    font-weight: 700;
  }

  h2 {
    font-family: var(--font-display);
    font-size: 72px;
    font-weight: 700;
  }

  h3 {
    font-family: var(--font-display);
    font-size: 56px;
    font-weight: 700;
  }

  h4 {
    font-family: var(--font-display);
    font-size: 36px;
    font-weight: 700;
  }
}

@layer components {
}

@layer utilities {
}
